$primary-color: rgba(241, 238, 238, 0.966);
$secondary-color: rgba(241, 28, 60, 0.849);
$bg-color: rgb(60, 22, 77);
$bg-secondary: rgb(222, 228, 238);

// Mobile navbar

.mobile-navbar {
  display: none;
  background: #f8f9fade;
  padding: 1.9rem;
  position: fixed;
  width: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 100%;
  // top: 0px;
  // position: absolute;
  // z-index: 3;
  // background: #f8f9fade;
  // opacity: 0.8;
  

  .navbar-toggle {
    position: absolute;
    top: 0px;
    right: 20px;
    cursor: pointer;
    color: $primary-color;
    font-size: 1.6rem;
  }

  h3 {
    // border: 3px solid $primary-color;
    padding: 0.4rem 2rem;
    color: $primary-color;
    font-size: 1.1rem;
  }

  .main-nav {
    display: none;
  }

  li {
    text-align: center;
    margin: 2rem auto;
    font-weight: bold;
    animation: mymove .3s ;

    @keyframes mymove {
      from {margin: .1rem;}
      to {margin: 2rem;}
    }

    a {
      position: relative;
      color: #052d83;
      transition: 0.1s all ease-in;
      animation: secondmove .3s;

      @keyframes secondmove {
        from {opacity: .1;}
        to {opacity: 1;}
      }

      &:hover{
        color: #1d1d1d;
      }
    }
  }

  .active {
    display: block;
  }
}